<div class="container">
    <div class="row">
        {{#each data}}
        <div class="col-{{num}}">
            <div class="number">{{num}}</div>
        </div>
        {{/each}}
    </div>
</div>