<div class="js-swiper-world swiper-world swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <link rel="import" href="./page1/index.html?__inline">
        </div>
        <div class="swiper-slide">
            <link rel="import" href="./page2/index.html?__inline">
        </div>
        <div class="swiper-slide">
            <link rel="import" href="./page4/index.html?__inline">
        </div>
        <div class="swiper-slide">
            <link rel="import" href="./page3/index.html?__inline">
        </div>
        <div class="swiper-slide">
            <link rel="import" href="./page5/index.html?__inline">
        </div>
    </div>
</div>
<script>
    require('./swiper.ts');
</script>